<nav class="navbar navbar-expand-sm navbar-dark bg-secondary d-flex justify-content-between">
    <a class="navbar-brand" href="#">INVOICE GENERATOR</a>
    <div>
        <a class="text-white" href="https://github.com/ngdevelop-tech/angular-pdfmake-invoice-generator" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </div>
</nav>
<div class="vehicle_detail">
    <span (click)="createPdf()" class="download_btn"
    >
      <div>
        Download
      </div>
      <svg width="14px" height="18px" viewBox="0 0 14 18">
        <path fill-rule="evenodd" fill="rgb(0, 160, 223)"
          d="M9.977,6.000 L9.977,-0.000 L3.977,-0.000 L3.977,6.000 L-0.008,6.000 L6.977,12.984 L14.008,6.000 L9.977,6.000 ZM-0.008,17.016 L14.008,17.016 L14.008,15.000 L-0.008,15.000 L-0.008,17.016 Z" />
      </svg>
    </span>
  </div>
<footer class="fixed-bottom">
    <div class="bg-light text-center p-2">
        <h6>Made with 💗 by
            <a class="twitter-follow-button" href="https://twitter.com/ankit_ngdevelop" target="_blank"> <i class="fa fa-twitter"
                    aria-hidden="true"></i>Ankit_NgDevelop</a>.
        </h6>
    </div>
</footer>